<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="snipe.mybatis.dao.OrganizationResourceMapper" >
  <resultMap id="BaseResultMap" type="snipe.mybatis.model.OrganizationResourceKey" >
    <id column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <id column="RESOURCE_ID" property="resourceId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORG_ID, RESOURCE_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="snipe.mybatis.model.OrganizationResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_rel_organization_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="snipe.mybatis.model.OrganizationResourceKey" >
    delete from tb_rel_organization_resource
    where ORG_ID = #{orgId,jdbcType=VARCHAR}
      and RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="snipe.mybatis.model.OrganizationResourceExample" >
    delete from tb_rel_organization_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="snipe.mybatis.model.OrganizationResourceKey" >
    insert into tb_rel_organization_resource (ORG_ID, RESOURCE_ID)
    values (#{orgId,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="snipe.mybatis.model.OrganizationResourceKey" >
    insert into tb_rel_organization_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="snipe.mybatis.model.OrganizationResourceExample" resultType="java.lang.Integer" >
    select count(*) from tb_rel_organization_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_rel_organization_resource
    <set >
      <if test="record.orgId != null" >
        ORG_ID = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceId != null" >
        RESOURCE_ID = #{record.resourceId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_rel_organization_resource
    set ORG_ID = #{record.orgId,jdbcType=VARCHAR},
      RESOURCE_ID = #{record.resourceId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>